{% extends "engage/base_engage.html" %}

{% set section_title="Engage Page" %}
{% set section_path="/engage" %}

{% block title %}ESM for Ubuntu 14.04 LTS Trusty Tahr{% endblock %}
{% block meta_description %}Extended Security Maintenance (ESM) will be available for Ubuntu 14.04 LTS Trusty Tahr for continued security and compliance of the most popular linux operating system.{% endblock %}
{% block meta_image %}2217d1c8-Security.svg{% endblock %}

{% block meta_copydoc %}{document["metadata"]["meta_copydoc]}{% endblock meta_copydoc %}

{% block content %}

{{document}}
<section {% if header_lang %}lang="{{ header_lang }}"{% endif %} class="p-strip--{{document['metadata']['banner_class']}}">
  <div class="u-fixed-width navigation-logo-engage">
    <a href="/">
      {% if document['metadata']['banner_class'] == 'light' %}
        {{
          image(
            url="https://assets.ubuntu.com/v1/04115a7e-ubuntu_black-orange_hex.svg",
            alt="Ubuntu",
            height="32",
            width="143",
            hi_def=True,
            loading="auto"
          ) | safe
        }}
      {% else %}
        {{
          image(
            url="https://assets.ubuntu.com/v1/f263d9c4-logo-ubuntu-white.svg",
            alt="Ubuntu",
            height="32",
            width="143",
            hi_def=True,
            loading="auto"
          ) | safe
        }}
      {% endif %}
      
    </a>
  </div>
  <div class="row">
    <div class="col-7">
      <h1>{{document["title"]}}</h1>
      <p class="u-no-padding--top p-heading--four">Learn how to maintain ongoing security compliance for your 14.04 systems.</p>
      {% if document["metadata"]["webinar_code"] != "" %}
      <p>
        <a href="#register-section" class="p-button--positive">
          Watch the webinar
        </a>
      </p>
      {% endif %}
    </div>
    {% if document["metadata"]["image"] != '' %}
    <div class="col-4 u-hide--small u-vertically-center u-align--center">
      
      {{
        image(
          url=document["metadata"]["image"],
          alt="",
          height=document["metadata"]["image_height"],
          width=document["metadata"]["image_width"],
          hi_def=True,
          loading="auto"
        ) | safe
      }}
    </div>
    {% endif %}
  </div>
</section>



<section class="p-strip is-shallow is-bordered">
  <div class="row">
    <div class="{% if document['metadata']['form_id'] != '' %}col-7{% else %}col-8{% endif %}">
      {% for text in document["body_html"] %}
      {{ text | safe }}
      {% endfor %}
    </div>
    {% if document["metadata"]["form_id"] != "" %}
    <div class="col-5" id="the-form">
      {% if document["metadata"]["language"] != '' %}
        {% set form = "engage/shared/_" + document["metadata"]["language"] +"_engage_form.html" %}
        {% with id=document['metadata']['form_id'], returnURL="/engage/thank-you" %}
          {% include form %}          
        {% endwith %}
      {% else %}
        {% with id=document['metadata']['form_id'], returnURL="/engage/thank-you" %}
          {% include "engage/shared/_en_engage_form.html %}          
        {% endwith %}
      {% endif %}
    </div>
    {% endif %}
  </div>
  
</section>

{% if document["metadata"]["webinar_code"] != "" %}
<!-- webinar -->
<section class="p-strip is-shallow" id="register-section">
  <div class="row" id="webinar">
    <div class="jsBrightTALKEmbedWrapper" style="width:100%; height:100%; position:relative;background: #ffffff;">
      <script class="jsBrightTALKEmbedConfig" type="application/json">{ "channelId" : 6793, "language": "en-US", "commId" : {{ document["metadata"]["webinar_code"] }}, "displayMode" : "standalone", "height" : "auto" }</script>
      <script src="https://www.brighttalk.com/clients/js/player-embed/player-embed.js" class="jsBrightTALKEmbed"></script>
    </div>
  </div>
</section>
{% endif %}

{% endblock content %}
