{% set hide_nav = False %}
{% extends "engage/base_engage.html" %}

{% block title %}Ubuntu case studies, whitepapers and webinars{% endblock %}

{% block meta_description %}Resources from across Ubuntu and Canonical combined into a single portal{% endblock %}

{% block meta_copydoc %}https://docs.google.com/spreadsheets/d/1UdExqv3PMnejaCISed340IehIhUmpKL-0AK5kumFk2M/edit#gid=0{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip u-no-padding--bottom">
  <div class="row">
    <h1>Ubuntu case studies, whitepapers and webinars</h1>
  </div>
</section>

<section class="p-strip is-shallow" id="posts-list">
  {{metadata}}
  <div class="row u-equal-height u-clearfix">
    {% with title="ESM for Ubuntu 14.04 LTS Trusty Tahr",
    description="Extended Security Maintenance (ESM) will be available for Ubuntu 14.04 LTS Trusty Tahr for continued security and compliance of the most popular linux operating system.",
    slug="14-04-esm",
    type="webinar" %}
    {% include "engage/_article-card.html" %}
    {% endwith %}

  </div>

</section>
{% endblock content %}
