{% set hide_nav = False %}
{% extends "engage/base_engage.html" %}

{% block title %}Ubuntu case studies, whitepapers and webinars{% endblock %}

{% block meta_description %}Resources from across Ubuntu and Canonical combined into a single portal{% endblock %}

{% block meta_copydoc %}https://docs.google.com/spreadsheets/d/1UdExqv3PMnejaCISed340IehIhUmpKL-0AK5kumFk2M/edit#gid=0{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip u-no-padding--bottom">
  <div class="row">
    <h1>Ubuntu case studies, whitepapers and webinars</h1>
  </div>
</section>

<section class="p-strip is-shallow l-tutorials__filters">
  <div class="row">
    <!-- <div class="col-4">
      <div class="p-form__group">
        <label for="tutorials-search">Search tutorials containing:</label>
        <input type="search" name="tutorials-search" id="tutorials-search">
      </div>
    </div> -->
    <div class="col-4">
      <div class="p-form__group">
        <label for="tutorials-topic">Topic:</label>
        <select name="tutorials-topic" id="tutorials-topic" class="u-no-margin--bottom">
          <option value="">Any</option>
          <option value="cloud">Cloud</option>
          <option value="community">Community</option>
          <option value="containers">Containers</option>
          <option value="desktop">Desktop</option>
          <option value="development">Development</option>
          <option value="iot">IoT</option>
          <option value="packaging">Packaging</option>
          <option value="server">Server</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="p-form__group">
        <label for="tutorials-sort">Sorted by:</label>
        <select name="tutorials-sort" id="tutorials-sort" class="u-no-margin--bottom">
          <option value="difficulty-asc">Least difficult</option>
          <option value="difficulty-desc">Most difficult</option>
        </select>
      </div>
    </div>
  </div>
</section>

<section class="p-strip is-shallow" id="posts-list">
  <div class="row u-equal-height">
    {% for item in metadata %}
      {% if loop.index <= posts_per_page * page and loop.index >= posts_per_page * page - posts_per_page + 1 %}
        {% with 
        title=item.topic_name,
        title_link=item.path,
        description=item.subtitle,
        type=item.type %}
        {% include "engage/_article-card.html" %}
        {% endwith %}
      {% endif %}
    {% endfor %}

  </div>

</section>
{% endblock content %}
